<main><br />
  <div class="container jumbotron w-50 text-center">
    <%= form_with model: @event do |form|%>
      <h2>Create Event</h2><br/><hr>
      <p class="form-group">
        <%= form.label   :date, class: 'h3' %><br />
        <%= form.date_field :date, class: 'form-control' %>
      <p><br/>
      <p class="form-group">
        <%= form.label   :description, class: 'h3' %><br />
        <%= form.text_area :description, class: 'form-control', placeholder: 'Event description' %>
      <p>
      <p>
        <%= form.submit 'Create Events', class: 'btn btn-outline-success'%>
      <p>
    <% end %>
  </div>
</main>